<template>
    <div>
        <h1>All Hail the king route.</h1>
    </div>
</template>

<script>
    
    export default {
        name: 'app',

        methods: {
            async getPost () {
                try {
                    let response = await this.$http.get(`https://jsonplaceholder.typicode.com/todos/1`)
                    console.log(response)
                } catch(e) {
                    // statements
                    console.log(e);
                }
                
            }
        },

        mounted () {
            this.getPost()
        }
    }
</script>